<div class="cover align-middle">
  <div class="text-center">
    <p class="sub-title">～旅行の思い出を共有する～</p>
    <h1 class="title mb-2">Traveler</h1>
    <h2 class="btn btn-primary mr-2">新規登録</h2>
    <h2 class="btn btn-success ml-2">ログイン</h2>
  </div>
</div>
