<div class="cover-index">
  <div class="container d-flex flex-column align-items-center">
  <div class="row mt-5">
    <h1 class="font-weight-normal">旅行投稿一覧</h1>
  </div>
  <div class="row mt-5 index-left w-100">
    <% @posts.each do |post| %>
      <div class="one-post col-sm-4 mb-3">
        <%= link_to post_path(post) do %>
          <p class="caption">ユーザー名</p>
          <%= attachment_image_tag post, :image, format: "jpeg", size: "300x200" %>
          <p class="caption"><%= post.location %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
  </div>