h1 {
  font-family: serif;
}

.cover-new {
  height: 120%;
  width: 100%;
  background-image: url(/assets/new-scaled.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.form-label {
  font-size: 20px;
}

.form-group {
  width: 600px;
}

.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/index-scaled.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.index-left {
  margin-left: 2.5rem!important;
}

.cover-show {
  height: 130%;
  width: 100%;
  background-image: url(/assets/show-scaled.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

#text {
  font-size: 18px;
}